.layout {
  border: 2px solid #333;
  border-radius: 5px;
  margin: 2rem;
}

.layout > nav {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0 2rem;
}

.layout > nav a {
  color: orangered;
  padding: 2rem 0;
  text-decoration: none;
}

.layout > main {
  padding: 0 2rem 2rem;
}

.with-sidebar {
  display: flex;
  gap: 2rem;
}

.with-sidebar > aside {
  width: 200px;
}

.with-sidebar > main {
  flex-grow: 1;
}
